<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<nav class="navbar navbar-inverse" role="navigation">


        <a class="navbar-brand" href="#">Treebook</a>
      

  
</nav>

<body>



<div class="container">

<%= yield %>

</div>



</body>
</html>
